#git {
    padding: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.grid-container2 {
    display: grid;
    justify-items: end;
}